.Home-bio {
  padding: 0 3%;
  text-align: center;
  line-height: 140%;
  font-weight: lighter;
}

.Home-bio p {
  margin: 0%;
}

.Home-bio img {
  width: 15%;
  padding: 0%;
}

.Home-bio-img {
  display: flex;
  justify-content: end;
}

.Home-image-container {
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  border: 8px solid #f7bf3e;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.name {
  text-align: center;
}

.role {
  text-align: center;
}
