.techStack {
  text-align: center;
}

.dots-container {
  display: flex;
  justify-content: space-between;
  max-width: 50px;
  margin-left: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 2px;
  margin-top: 3px;
}

.red {
  background-color: rgb(255, 86, 86);
}

.yellow {
  background-color: rgb(255, 255, 152);
}

.green {
  background-color: rgb(81, 169, 81);
}

hr {
  width: 100%;
  border: 2px solid black;
  margin: 20px auto;
  margin-bottom: 0%;
}

.tech-stack-text {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  padding-top: 0%;
}

.techStack-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px;
  margin: 35px auto;
}

.icon {
  text-align: center;
  margin-bottom: 20px;
  width: 30%;
}

.icon-image {
  width: 60px;
  height: 60px;
}

.icon-text {
  word-wrap: break-word;
  margin-top: 10px;
  font-size: 14px;
}
