@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    margin-top: 0;
  }

  .navbar a {
    text-decoration: none;
    color: black;
    border: 3px solid transparent;
  }

  .navbar-left {
    margin: 4% 0;
    font-size: 170%;
    font-weight: 600;
  }

  .navbar-right {
    font-size: 120%;
    text-align: center;
  }

  .navbar-right a,
  .navbar span {
    display: inline-block;
    margin: 2%;
  }

  .navbar a,
  .navbar span {
    border: 3px solid transparent;
  }

  .navbar a:hover,
  .navbar span:hover {
    color: black;
    border: 3px solid black;
  }
}
