@media (max-width: 768px) {
  .Header-profile {
    font-size: 90%;
  }
  .Home-bio {
    padding: 0 3%;
    text-align: center;
    line-height: 150%;
    font-weight: lighter;
    font-size: 95%;
  }

  .Home-bio p {
    margin: 0%;
  }

  .Home-bio img {
    width: 15%;
    padding: 0%;
  }

  .Home-bio-img {
    display: flex;
    justify-content: flex-end;
  }

  .Home-image-container {
    text-align: center;
  }

  .profile-image {
    border-radius: 50%;
    border: 8px solid #f7bf3e;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .name {
    text-align: center;
  }

  .role {
    text-align: center;
  }

  .Home-button {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 170px;
    background-color: transparent;
    font-weight: 700;
    font-size: 120%;
    font-family: "Courier Prime", monospace;
  }

  .button-container {
    position: relative;
  }

  .Home-button:hover {
    color: #f7f4e3;
    background-color: black;
    cursor: pointer;
  }

  .Header {
    text-align: center;
  }

  .arrow {
    position: absolute;
    bottom: -5px;
    right: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 12px 0;
    border-color: #090909 transparent transparent transparent;
    transform: rotate(135deg);
  }
}
